@charset "UTF-8";

:root {
    --cor0: #ececeb;
    --cor1: #cfcfcf;
    --cor2: #b3b2b1;
    --cor3: #797979;
    --cor4: #4e4e4e;
    --cor5: #222222;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-google: 'Bebas Neue', cursive;
}

body {
    background-color: var(--cor3);
    margin: 0;
}

header {
    background-image: linear-gradient(var(--cor1), var(--cor5));
    height: 40px;
}

nav {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cor5);
}

@media screen and (max-width: 500px) {

    ul.topnav li {
        float: none;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cor5);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: var(--cor0);
    font-weight: bold;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--cor3);
}

main {
    max-width: 700px;
    background-color: white;
    margin: 0px auto 30px auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.image-d003 {
    width: 78%;
    display: block;
    margin: auto;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    width: 50%;
}

table.center p {
    line-height: 0.8em;
    padding: 0 20px;
}

.resolucao>h1 {
    font-size: 0.9em;
    padding: 3px;
    text-align: center;
}

.resolucao>img {
    max-width: 31%;
    padding-left: 1px;
}

footer {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}