@charset "UTF-8";

:root {
    --cor0: #ececeb;
    --cor1: #cfcfcf;
    --cor2: #b3b2b1;
    --cor3: #797979;
    --cor4: #4e4e4e;
    --cor5: #222222;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-google: 'Bebas Neue', cursive;
}

body {
    background-color: var(--cor3);
    margin: 0;
}

header {
    background-image: linear-gradient(var(--cor1), var(--cor5));
    height: 40px;
}

nav {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
}

nav ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cor5);
}

@media screen and (max-width: 500px) {

    ul.topnav li {
        float: none;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cor5);
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    color: var(--cor0);
    font-weight: bold;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

nav li a:hover {
    background-color: var(--cor3);
}

main {
    max-width: 700px;
    min-width: 360px;
    background-color: white;
    margin: 0px auto 30px auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.image-d005 {
    width: 80%;
    display: block;
    margin: auto;
}

.perfil-d005 {
    border-radius: 50%;
    width: 70px;
}

#rede-social {
    width: 90%;
    display: block;
    margin: auto;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    width: 50%;
}

table.center p {
    line-height: 0.7em;
    padding: 0 20px;
}

.resolucao h1 {
    font-size: 0.9em;
    padding: 3px;
    text-align: center;
}

.resolucao h2,
h3 {
    font-size: 0.8em;

}

.resolucao p {
    font-size: small;
}

a {
    padding-left: 6px;
    font-size: small;
}

footer {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}